extends ../layout/index.pug

block styles
    meta(name="csrf-token" content=csrfToken)

block contenido
    div(class="min-h-screen flex bg-gray-100")
        include ../usuario/vendedor-Sidebar/Vendedor-Sidebar.pug

        // Main Content
        div(class="flex-1 pl-60")
            // Top Navigation
            header(class="bg-white shadow-lg")
                div(class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center")
                    div(class="flex flex-col space-y-2")
                        h1(class="text-3xl font-bold bg-gradient-to-r from-[#FF641A] to-[#B08262] text-transparent bg-clip-text") Mis Propiedades
                        p(class="text-gray-600") Gestiona tus propiedades
                    div(class="flex items-center space-x-4")
                        div(class="relative")
                            button(class="flex items-center space-x-2 text-gray-700 hover:text-gray-900")
                                img(class="h-10 w-10 rounded-full" src="/img/avatar.png" alt=usuario.nombre)
                                span= usuario.nombre

            // Filtros Propiedades
            div(class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6 ")
                div(class="flex items-center space-x-4 mt-4 max-w-7xl mx-auto border-2 border-gray-200 p-4 rounded-md bg-white ")
                    h1(class="text-normal font-bold bg-gradient-to-r from-[#FF641A] to-[#B08262] text-transparent bg-clip-text") Filtrar propiedades :
                    label(class="block text-sm font-medium text-gray-700") Estado
                    select(class="border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 focus:ring-opacity-50 px-4 py-2" id="estado_select")
                        option(value="") --Seleccione--
                        option(value=1 ) Publicado
                        option(value=0 ) No Publicado
                    label(class="block text-sm font-medium text-gray-700") Categoría
                    select(class="border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 focus:ring-opacity-50 px-4 py-2" id="categoria_select")
                        option(value="") --Seleccione--
                        each categoria in categorias
                            option(value=categoria.id)= categoria.nombre
                    label(class="block text-sm font-medium text-gray-700") Buscar
                    input(type="text" class="border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 focus:ring-opacity-50 px-4 py-2" id="buscar_input" placeholder="Buscar propiedades...")
                
                       

                // Lista de Propiedades
                div(class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6")
                    div(class="bg-white shadow overflow-hidden sm:rounded-md")
                        ul(class="divide-y divide-gray-200")
                            // Las propiedades se cargarán dinámicamente aquí
     
block scripts
    script(src="/js/cambiarEstado.js")
    script(src="/js/filtrarPropiedades.js")
                            

            