div(class="bg-gray-800 text-white w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out")
    div(class="flex items-center space-x-2 px-4")
        span(class="text-2xl font-extrabold") InmoElegante
    nav
        a(class="block py-2.5 px-4 rounded transition duration-200 bg-gray-900 text-white" href="/auth/comprador/panel")
            i(class="fas fa-home mr-2")
            | Inicio
        a(class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white" href="/auth/comprador/buscar-propiedades")
            i(class="fas fa-search mr-2")
            | Buscar Propiedades
        a(class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white" href="/favoritos/propiedades-favoritas")
            i(class="fas fa-heart mr-2")
            | Favoritos
        a(class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white" href="#")
            i(class="fas fa-history mr-2")
            | Historial de Visitas
        a(class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white" href="/mensajes/obtener")
            i(class="fas fa-envelope mr-2")
            | Mensajes
        a(class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white" href="/auth/editar-perfil")
            i(class="fas fa-user mr-2")
            | Mi Perfil
        a(class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white" href="/auth/cerrar-sesion")
            i(class="fas fa-sign-out-alt mr-2")
            | Cerrar Sesión