doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="csrf-token" content=csrfToken)
        title Bienes Raíces | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet", href="/font/poppins/poppins.css")
        link(rel="stylesheet", href="/icons/fontawesome/css/all.min.css")
        block styles
    body.min-h-screen.bg-gray-50
        include ../partials/accesibilidad.pug

        include ../partials/audio.pug

        block contenido

        block scripts
        script(src="/js/accesibilidad.js")
        script(src="/js/audio.js")
        script(src="/js/notificaciones.js")